
  <div class="header-blue">

    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">

      <div class="container-fluid" >
          <a class="navbar-brand" href="#">Authentication App</a>
          <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
              <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <span class="navbar-text"> 
                <a class="login" href="#">Log In</a>
            </span>
            <a class="btn btn-light action-button" role="button" href="#"
            >SignUp</a>
        </div>
      </div>
    </nav>
  </div>
