<link rel="stylesheet" href="/css/home.css">


<div class="home-main-container">
    <h1>Welcome To Authentication App</h1>
    <p><small>Please SignUp/LogIn to proceed</small></p>
 <div id="background-img">
     
 </div>
</div>