<link rel="stylesheet" href="/css/reset_password_form.css">

<div class="signIn-main-container">
  <div class="display-container">
    <div class="display-content">
      
      <form action="/reset-password/password-reset-form" class="signIn" method="post">
        <div class="signIn-field">
          <i class="signIn_icon_1 fa-solid fa-user"></i>

          <input
            type="hidden"
            name="token"
            class="signIn_input"
            value="<%= accessToken %>"
          />
        </div>

        <div class="signIn_field">
          <i class="signIn_icon fas fa-lock"></i>
          <input type="password" name="password" class="signIn_input" placeholder="Password" required/>
        </div>

        <div class="signIn_field">
          <i class="signIn_icon fas fa-lock"></i>
          <input type="password" name="confirmPassword" class="signIn_input" placeholder="Confirm Password" required/>
        </div>

        <button type="submit" id="action-button" class="button signIn_submit">
          <span class="button_text">Log In Now</span>
          <i class="button_icon fas fa-chevron-right"></i>
        </button>
      </form>
    </div>

    <div class="display_background">
      <span class="display_background_shape display_background_shape4 "></span>
      <span class="display_background_shape display_background_shape3"></span>		
			<span class="display_background_shape display_background_shape2"></span>
			<span class="display_background_shape display_background_shape1"></span>
    </div>
  </div>
</div>
