<link rel="stylesheet" href="/css/reset_password_email.css" />

<div class="signIn-main-container">
  <div class="display-container">
    <div class="display-content">
        <h5>Please enter your registered email</h5>
      <form action="/reset-password/email" class="signIn" method="post">
        <div class="signIn_field">
          <i class="fa fa-envelope signIn_icon aria-hidden="true"></i>
          <input type="email" name="email" class="signIn_input" placeholder="Email" required/>
        </div>
        <button type="submit" id="action-button" class="button signIn_submit">
          <span class="button_text">Send</span>
          <i class="button_icon fas fa-chevron-right"></i>
        </button>
      </form>
    </div>

    <div class="display_background">
      <span class="display_background_shape display_background_shape4"></span>
      <span class="display_background_shape display_background_shape3"></span>
      <span class="display_background_shape display_background_shape2"></span>
      <span class="display_background_shape display_background_shape1"></span>
    </div>
  </div>
</div>
