<link rel="stylesheet" href="/css/update_password_form.css">

<div class="signIn-main-container">
  <div class="display-container">
    <div class="display-content">
      
      <form action="/users/update-password" class="signIn" method="post">
        <div class="signIn_field">
            <i class="signIn_icon fas fa-lock"></i>
            <input type="password" name="oldPassword" class="signIn_input" placeholder="Old Password" required/>
        </div>

        <div class="signIn_field">
          <i class="signIn_icon fas fa-lock"></i>
          <input type="password" name="newPassword" class="signIn_input" placeholder="New Password" required/>
        </div>

        <div class="signIn_field">
            <i class="signIn_icon fas fa-lock"></i>
            <input type="password" name="confirmPassword" class="signIn_input" placeholder="Confirm Password" required/>
        </div>

        <button type="submit" id="action-button" class="button signIn_submit">
          <span class="button_text">Update Password</span>
          <i class="button_icon fas fa-chevron-right"></i>
        </button>
       
        <div class="forgot-pass"><a href="/reset-password">Forgot Password ?</a></div>
      </form>
    </div>

    <div class="display_background">
      <span class="display_background_shape display_background_shape4 "></span>
      <span class="display_background_shape display_background_shape3"></span>		
			<span class="display_background_shape display_background_shape2"></span>
			<span class="display_background_shape display_background_shape1"></span>
    </div>
  </div>
</div>
