<link rel="stylesheet" href="/css/user_signIn.css">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>


<div class="signIn-main-container">
  <div class="display-container">
    <div class="display-content">
      
      <form action="/users/create-session" class="signIn" method="post">
        <div class="signIn_field">
          <i class="signIn_icon fa-solid fa-user"></i>

          <input
            type="text"
            name="email"
            class="signIn_input"
            placeholder="Email"
            required
          />
        </div>

        <div class="signIn_field">
          <i class="signIn_icon fas fa-lock"></i>
          <input type="password" name="password" class="signIn_input" placeholder="Password" required/>
        </div>
       <div>
        <%- recaptcha %>
       </div>
       
        <button type="submit" id="action-button" class="button signIn_submit">
          <span class="button_text">Log In Now</span>
          <i class="button_icon fas fa-chevron-right"></i>
        </button>
        <div class="forgot-pass"><a href="/reset-password">Forgot Password ?</a></div>
       
      </form>
      <div class="social_login">
        <h5>SignIn/SignUp via</h5>
        <div class="social_icons">
          <a href="/users/auth/google" class="social_login_icon"><i class="fa-brands fa-google">oogle</i></a>
        </div>
      </div>
    </div>

    <div class="display_background">
      <span class="display_background_shape display_background_shape4 "></span>
      <span class="display_background_shape display_background_shape3"></span>		
			<span class="display_background_shape display_background_shape2"></span>
			<span class="display_background_shape display_background_shape1"></span>
    </div>
  </div>
</div>
