<link rel="stylesheet" href="/css/user_signIn.css">

<div class="signIn-main-container">
  <div class="display-container">
    <div class="display-content">
      <form action="" class="signIn">
        <div class="signIn-field">
          <i class="signIn_icon_1 fa-solid fa-user"></i>

          <input
            type="text"
            class="signIn_input"
            placeholder="User name / Email"
          />
        </div>

        <div class="signIn_field">
          <i class="signIn_icon fas fa-lock"></i>
          <input type="password" class="signIn_input" placeholder="Password" />
        </div>

        <button class="button signIn_submit">
          <span class="button_text">Log In Now</span>
          <i class="button_icon fas fa-chevron-right"></i>
        </button>
        <div class="forgot-pass"><a href="#">Forgot Password...</a></div>
       
      </form>
      <div class="social_login">
        <h5>SignIn/SignUp via</h5>
        <div class="social_icons"><strong>Google <i class=" fas fa-chevron-right"></i></strong>
          <a href="#" class="social_login_icon"><i class="fa-brands fa-google"></i></a>
        </div>
      </div>
    </div>

    <div class="display_background">
      <span class="display_background_shape display_background_shape4 "></span>
      <span class="display_background_shape display_background_shape3"></span>		
			<span class="display_background_shape display_background_shape2"></span>
			<span class="display_background_shape display_background_shape1"></span>
    </div>
  </div>
</div>
