<link rel="stylesheet" href="/css/user_signUp.css" />

<div class="signIn-main-container">
  <div class="display-container">
    <div class="display-content">
      <form action="/users/create" class="signIn" method="post">
        <div class="signIn_field">
          <i class="signIn_icon_1 fa-solid fa-user"></i>

          <input
            type="text"
            name="name"
            class="signIn_input"
            placeholder="Name"
            required
          />
        </div>
        <div class="signIn_field">
          <i class="signIn_icon_1 fa-solid fa-user"></i>

          <input
            type="email"
            name="email"
            class="signIn_input"
            placeholder="Email"
            required
          />
        </div>

        <div class="signIn_field">
          <i class="signIn_icon fas fa-lock"></i>
          <input
            type="password"
            name="password"
            class="signIn_input"
            placeholder="Password"
            required
          />
        </div>

        <div class="signIn_field">
          <i class="signIn_icon fas fa-lock"></i>
          <input
            type="password"
            name="confirm_password"
            class="signIn_input"
            placeholder="Confirm Password"
            required
          />
        </div>

        <button type="submit" id="action-button" class="button signIn_submit">
          <span class="button_text">SignUp Now</span>
          <i class="button_icon fas fa-chevron-right"></i>
        </button>
      </form>
      <div class="social_login">
        <h6>SignIn/SignUp via</h6>
        <div class="social_icons">
          <strong>Google <i class="fas fa-chevron-right"></i></strong>
          <a href="/users/auth/google" class="social_login_icon"
            ><i class="fa-brands fa-google"></i
          ></a>
        </div>
      </div>
    </div>

    <div class="display_background">
      <span class="display_background_shape display_background_shape4"></span>
      <span class="display_background_shape display_background_shape3"></span>
      <span class="display_background_shape display_background_shape2"></span>
      <span class="display_background_shape display_background_shape1"></span>
    </div>
  </div>
</div>
