<p>
    Hi, <%= user.name %>
    <br>
    Your password has just been updated.
    If this action was not performed by you. <b>Please secure your account </b>by clicking link below
    <br>
    <center>
        <a href="http://localhost:8000/reset-password">http://localhost:8000/reset-password</a>
    </center>
</p>

<p>
    Kindly ignore this mail, if it was done by you
</p>