.header-blue{
    background-color:  #000000;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
}

.header-blue .navbar {
    background: transparent;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #fff;
    border-radius: 0;
    box-shadow: none;
    border: none;
  }

  .header-blue .navbar .navbar-brand {
    font-weight: bold;
    color: inherit;
    /* border: 1px solid black; */
    padding: 8px;
    border-radius: 20px;
    background-color: rgb(241, 207, 38);
  }

  .header-blue .navbar .navbar-brand:hover {
    color: #141311d8;
  }

  .header-blue .navbar .navbar-collapse {
    border-top: 1px solid rgba(255,255,255,0.3);
    margin-top: .5rem;
  }

  @media (min-width:768px) {
    .header-blue .navbar .navbar-collapse {
      border-color: transparent;
      margin: 0;
      position: absolute;
    right: 20px;
    }
  }

  .header-blue .navbar .navbar-collapse span .login {
    color: rgb(249, 249, 249);
    margin-right: .5rem;
    text-decoration: none;
  }

  .header-blue .navbar .navbar-collapse span .login:hover {
    color: rgba(123, 117, 117, 0.578);
  }

  .header-blue .navbar .navbar-toggler {
    border-color: rgba(255, 254, 254, 0.968);
    height: 50px;
  }

  .header-blue .navbar .navbar-toggler:hover, .header-blue .navbar-toggler:focus {
    background: none;
  }

  @media (min-width: 768px) {
    .header-blue .navbar-nav .nav-link {
      padding-left: .7rem;
      padding-right: .7rem;
    }
  }
  
  @media (min-width: 992px) {
    .header-blue .navbar-nav .nav-link {
      padding-left: 1.2rem;
      padding-right: 1.2rem;
    }
  }

  .header-blue .navbar.navbar-light .navbar-nav .nav-link:focus, .header-blue .navbar.navbar-light .navbar-nav .nav-link:hover {
    color: #fcfeff !important;
    background-color: transparent;
  }

  .header-blue .navbar .navbar-nav > li > .dropdown-menu {
    margin-top: -5px;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
    background-color: #fff;
    border-radius: 2px;
  }

  .header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item {
    line-height: 2;
    color: #fbfbfb;
  }
  
  .header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item:hover {
    background: #ebeff1;
  }
  
  .header-blue .action-button, .header-blue .action-button:not(.disabled):active {
    border: 1px solid rgb(21, 20, 20);
    border-radius: 40px;
    color: rgb(10, 9, 9);
    box-shadow: none;
    text-shadow: none;
    padding: .3rem .8rem;
    background: greenyellow;
    transition: background-color 0.25s;
    outline: none;
  }
  
  .header-blue .action-button:hover {
    color: #fff;
  }