* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif
 }
 
 body {
     background: linear-gradient(90deg, #C7C5F4, #776BCC);}
 
 .signIn-main-container{
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
     min-width: 340px;
 }
 
 .display-container{
     background: linear-gradient(90deg, #5D54A4, #7C78B8);
     position: relative;	
     height: 600px;
     width: 557px;	
     box-shadow: 0px 0px 24px #5C5696;
 }
 
 .display-content{
     z-index: 1;
     position: relative;	
     height: 100%;
 }
 .display_background{
     position: absolute;
     top: 0px;
     left: 0;
     right: 0;
     bottom:0;
     z-index: 0;
     clip-path: inset(0 0 0 0);
     -webkit-clip-path: inset(0 0 0 0);
 }
 
 .display_background_shape{
     transform: rotate(45deg);
     position: absolute;
 }
 
 .display_background_shape1{
     height: 520px;
     width:520px;
     background: #FFF;
     top:-50px;
     right: 273px;
     border-radius: 0 72px 0 0;
 }
 
 .display_background_shape2{
     height: 251px;
     width:140px;
     background: #6C63AC;
     top: -129px;
     right: 95px;
     border-radius: 32px;
 }
 
 .screen__background__shape3 {
     height: 540px;
     width: 190px;
     background: linear-gradient(270deg, #5D54A4, #6A679E);
     top: -24px;
     right: 0;	
     border-radius: 32px;
 }
 
 .screen__background__shape4 {
     height: 400px;
     width: 200px;
     background: #7E7BB9;	
     top: 420px;
     right: 50px;	
     border-radius: 60px;
 }
 
 .signIn{
     width: 320px;
     padding: 30px;
     padding-top: 44px;
 }
 
 .signIn_field {
     padding: 20px 0px;	
     position: relative;	
 }
 
 .signIn_icon {
     position: absolute;
     top: 30px;
     color: #7875B5;
 }
 
 .signIn_icon_1{
     color: #7875B5;
 }
 
 .signIn_input {
     border: none;
     border-bottom: 2px solid #D1D1D4;
     background: none;
     padding: 10px;
     padding-left: 24px;
     font-weight: 700;
     width: 100%;
     transition: .2s;
 }
 
 .signIn_input:active,
 .signIn_input:focus,
 .signIn_input:hover {
     outline: none;
     border-bottom-color: #9693c9;
 }
 
 .signIn_submit {
     background: #fff;
     font-size: 14px;
     margin-top: 30px;
     padding: 3px 20px;
     border-radius: 26px;
     border: 1px solid #D4D3E8;
     text-transform: uppercase;
     font-weight: 700;
     display: flex;
     align-items: center;
     width: 70%;
     color: #4C489D;
     box-shadow: 0px 2px 2px #5C5696;
     cursor: pointer;
     transition: .2s;
 }
 
 .signIn_submit:active,
 .signIn_submit:focus,
 .signIn_submit:hover {
     border-color: #6A679E;
     outline: none;
 }
 
 .button_icon {
     font-size: 24px;
     margin-left: auto;
     color: #7875B5;
 }
 
 .social_login {	
     position: absolute;
     height: 100px;
     width: 160px;
     text-align: center;
     bottom: 71px;
     right: 26px;
     color: #fff;
     font-size: 1rem;
 }
 
 .social_login h5{
     border-bottom: 2px solid white;
 }
 
 .social_icons {
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .social_login_icon {
     padding: 0px 10px;
     color: #fff;
     text-decoration: none;	
     text-shadow: 0px 0px 8px #7875B5;
     font-size: 2rem;
     transition: 0.2s;
 }
 
 .social_login_icon:hover {
     transform: scale(1.2);
     color: rgb(255, 182, 47);	
 }
 
 .forgot-pass{
     cursor: pointer;
     margin-top:12px ;
 
 }
 
 .forgot-pass a{
     color: black;
     transition: 0.2s;
 }
 .forgot-pass a:hover{
     text-decoration: none;
     font-size: large;
 }